@font-face {
    font-family: 'PennyLane';
    src: url('../../fonts/PennyLaneBold.otf');
}

@font-face {
    font-family: 'Bazinga';
    src: url('../../fonts/Bazinga-Regular.otf');
}

@font-face {
    font-family: 'Avalon';
    src: url('../../fonts/Avalon_Bold.ttf');
}

@font-face {
    font-family: 'AktivGroteskRegular';
    src: url('../../fonts/AktivGrotesk-ThinItalic.otf');
}

@font-face {
    font-family: 'AktivGroteskBold';
    src: url('../../fonts/AktivGrotesk-BoldItalic.otf');
}